/* Variablen definieren*/
:root{
    --hintergrundFarbe: #ffffff;
    --helleFarbe: #ffffff;
    --graueFarbe: #ddd;
    --dunkleFarbe: #333;
    --dunkelGraueFarbe: #555;
    --hellereDunkelGraueFarbe: #777;
    --highlight1Farbe: #ffffff;
    --highlight2Farbe: #ffffff;
    --highlight3Farbe: #ffffff;
    --highlight4Farbe: #ffffff;
}

/* Allgemeine Stile */
    body {
        background: linear-gradient(to right, #f8f8f8, #645050);
        font-family: 'Helvetica Neue', sans-serif;
        margin: 0px;
        padding: 0;
        min-height: 99vh;
    }
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 3;
        order: 2;
        min-height: 50px;
        background: var(--helleFarbe);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        margin: 20px;
    }
    .main{
        flex: 1;
    }

    .content {
        margin: 30px;
    }
    .container {
        width: 100%;
    }

/* Header-Stile */
    .header {
        background-color: var(--dunkleFarbe);
        color: var(--helleFarbe);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-left, .header-right, .header-center {
        flex-grow: 1;
        text-align: center;
        padding: 10px;
    }
    .header-left {
        text-align: left;
        flex: 1;
    }
    .header-center {
        flex-grow: 3;
        order: 2;
        text-align: center;
    }

    .header-right {
        text-align: right;
        order: 3;
        flex: 1;
    }

    .logo img {
        max-width: 100px;
        height: auto;
    }

/* Cart-Symbol-Stile */
    .cart {
        font-size: 24px;
        cursor: pointer;
        margin-right: 20px;
    }

    .cart-icon {
        display: inline-block;
    }

    .cart-count {
        display: inline-block;
        background-color: var(--graueFarbe);
        color: var(--dunkleFarbe);
        padding: 5px 10px;
        border-radius: 50%;
        margin-left: 5px;
    }

/* Navigationsmenü-Stile */
    .navigation {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .navigation li {
        margin: 0 20px;
    }

    .navigation a {
        text-decoration: none;
        color: var(--helleFarbe);
        font-weight: bold;
        font-size: 18px;
        transition: color 0.3s;
    }

    .navigation a:hover {
        color: #8ca6c4;
        text-decoration: underline;
    }

/* Suchfeld-Stile */
    .search {
        text-align: center;
        margin: 20px auto;
        max-width: 400px;
    }
    .search input {
        padding: 10px;
        width: 70%;
        border: 1px solid var(--graueFarbe);
        border-radius: 5px;
    }

/* Produktcontainer-Stile Home*/
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 20px;
    }
    .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: 1px solid var(--graueFarbe);
        margin: 10px;
        background: var(--helleFarbe);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        flex: 1;
        min-width: 200px;
    }
    .product img {
        height: auto;
        max-width: 100px;
    }
    .product-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .product-title{
        margin-bottom: 10px;
    }
    .product-text {
        margin-top: auto;
        text-align: center;
        margin-bottom: 10px;
    }

/* Produkt_Detailseite-Stile */
    .product-detail-container {
        display: flex;
        justify-content:space-between;
        margin: 0px;
    }
    /* Produkt-Bild*/
        .product-image {
            flex: 1;
            margin-right: 2%;
        }
        .product-image img {
            max-width: 70%;
        }
        .product-image img:hover{
            cursor: pointer;
        }

    /* Produkt Info (rechte Spalte)*/
        .product-info {
            flex: 1;
            margin-left: 2%;
        }

        .product-info h2 {
            font-size: 24px;
        }

        .product-info p {
            font-size: 16px;
        }
    /* Produkt-details (unterhalb) */
        .product-details {
            flex: 2;
            padding: 20px;
            border: 1px solid var(--graueFarbe);
            margin-top: 2%;
            background: var(--helleFarbe);
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        .product-details h2 {
            font-size: 24px;
        }
        .product-details p {
            font-size: 16px;
        }

/* Bestellformular */
    .order-form {
        /* background-color: #fff; */
        padding: 0px;
        margin: 0px;
    }
    
    .form-row {
        display: flex;
        justify-content: space-between; 
        align-items: center; 
    }
    
    .form-group {
        flex: 1; 
        margin-right: 30px; 
       margin-top: 5px;
    }
    
    form select, form input[type="text"], form input[type="email"], form input[type="checkbox"] {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--graueFarbe);
        border-radius: 5px;
    }
    label {
        display: inline-block;
        margin-bottom: 10px;
    }
      
    .custom-checkbox {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
        line-height: 20px;
    }
    .custom-checkbox input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #806767;
        border-radius: 4px;
    }
    .custom-checkbox:hover input ~ .checkmark {
        background-color: #ccc;
    }
    .custom-checkbox input:checked ~ .checkmark {
        background-color: #387a3c;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .custom-checkbox input:checked ~ .checkmark:after {
        display: block;
    }
    .custom-checkbox .checkmark:after {
        left: 6px;
        top: 2px;
        width: 6px;
        height: 12px;
        border: solid var(--helleFarbe);
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }

     /* Bestellabschluss Seite */
    .confirmation {
        border: 2px solid var(--dunkelGraueFarbe);
        border-radius: 2%;
        padding: 20px;
        text-align: center;
        max-width: 600px;
        margin: 0 auto;
    }
    .confirmation2{
        border: 1px solid var(--dunkelGraueFarbe);
        border-radius: 2%;
        padding: 20px;
        text-align: center;
        max-width: 250px;
        margin: 0 auto;

    }
    
/* Bestellseite formatierungen */
    .rightSide{ 
        flex: 1;
        padding: 20px;
        border: 3px solid var(--graueFarbe);
        border-radius: 10px;
        margin: 2%;
        float: right;
        width: 40%;
        min-height: 40em;
    }
    .leftSide{ 
        flex: 1;
        padding: 20px;
        border: 3px solid var(--graueFarbe);
        border-radius: 10px;
        margin: 2%;
        float: left;
        width: 45%;
        min-height: 40em;
    }
    .container{
        width: 100%;
    }

/* Suchergebnisse */
    #suchergebnis {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }

    #suchergebnis li {
        flex-basis: calc(25% - 20px); /* Drei Ergebnisse pro Zeile mit Abstand zwischen den Ergebnissen */
        margin: 5px;
        border: 1px solid var(--graueFarbe);
        background: var(--helleFarbe);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    #suchergebnis img {
        max-width: 100%;
        height: auto;
    }

    #suchergebnis h2 {
        font-size: 20px;
        margin: 10px 0;
    }

    #suchergebnis p {
        font-size: 16px;
    }

/* Stile für die Warenkorbtabelle */
    .cart-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .cart-table th, .cart-table td {
        border: 1px solid var(--dunkleFarbe);
        padding: 10px;
        text-align: left;
    }

    .cart-table th {
        background-color: var(--dunkelGraueFarbe);
    }

    .cart-table td {
        vertical-align: top;
    }

    #article-number{
        max-width: 2ch;
    }
    #article-name{
        font-weight: bold;
    }

    #subtotal, #cart-total {
        font-size: 18px;
        font-weight: bold;
        text-align: right;
        margin-top: 20px;
        border-bottom: 5px solid var(--dunkleFarbe);
    }

    #tax {
        text-align: right;
    }

/* Footer-Stile */
    .footer {
        background: var(--dunkleFarbe);
        color: var(--helleFarbe);
        text-align: center;
        padding: 8px;
        clear: both;
        
    }
    .footer a{
        color: var(--helleFarbe);
        text-decoration: none;
    }

    .footer a:hover{
        text-decoration: underline;
    }

/* Alle Buttons */
    /* Stile für den "Zur Kasse" Button */
    .order-button {
        background-color: var(--dunkleFarbe);
        color: var(--helleFarbe);
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
    }
    .order-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }

    /* Warenkorb */
    .apply-button {
        background-color: var(--dunkleFarbe);
        color: var(--helleFarbe);
        border: none;
        padding: 5px 10px;
        border-radius: 3px;
        cursor: pointer;
    }

    .apply-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }

    /* Suche Buttons*/
    #suchergebnis .add-to-cart-button {
        background-color: var(--dunkleFarbe);
        color: var(--helleFarbe);
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    #suchergebnis .add-to-cart-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }
    .search button {
        padding: 10px 20px;
        background-color: #8ca6c4;
        color: var(--dunkleFarbe);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .search button:hover {
        background-color: #5f758b;
    }

    /* Bestellabschluss */
    .back-to-home-button{ 
        background-color: var(--dunkleFarbe);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #empty-basket-button{
        background-color: #5f0000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #empty-basket-button:hover{
        background-color: var(--dunkelGraueFarbe);
    }

    #order-confirmation-button{
        background-color: #387a3c;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #order-confirmation-button:hover{
        background-color: var(--dunkelGraueFarbe);
    }

    /* Produktinfo (rechte Spalte) */
    .add-to-cart-button {
        background-color: var(--dunkleFarbe);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .add-to-cart-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }
    .back-to-page-button {
        background-color: var(--dunkleFarbe);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
    }
    .back-to-page-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }
    .order-confirmation-button {
        background-color: var(--dunkleFarbe);
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-decoration: none;
    }
    .order-confirmation-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }
    /* Produktdetails-Button*/
    .product-detail-button {
        background-color: var(--hellereDunkelGraueFarbe);
        color: #fff;
        border: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .product-detail-button:hover {
        background-color: var(--dunkelGraueFarbe);
    }

#produktliste{
    display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
        border: 1px solid var(--graueFarbe);
        margin: 10px;
        background: var(--helleFarbe);
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        flex: 1;
        min-width: 200px;
}


/* Stile für Desktop-Ansicht */
@media only screen and (min-width: 1024px) {
    .product {
        flex-basis: calc(20% - 20px) !important;
    }
}
/* Stile für Tablet-Ansicht */
   @media only screen and (max-width: 1137px) {
    /* zwei Produkte pro Zeile */
    .product {
        flex: 1;
        min-width: 300px; /* Größere Breite pro Produkt, um Platz für zwei pro Reihe zu schaffen */
    }
    /* Header Anpassungen */
    .header {
        flex-direction: column;
        align-items: stretch;
        text-align: center;
    }
    .header-left,
    .header-center,
    .header-right {
        order: unset;
        flex: 1;
        text-align: center;
    }
    .header-left, .header-right {
        padding: 10px 0;
    }
    .header-right {
        margin-top: 10px; /* Abstand zwischen header-center und header-right */
    }
    .logo img {
        max-width: 100px; /* Größe des Logos anpassen */
    }
    /* Bestellseite Anpassungen */
    .container{
        padding: 10px; /* Abstand um die Container */
        width: calc(100% - 20px); /* Berücksichtigung des Padding innerhalb der Gesamtbreite */
        max-width: calc(100% - 20px); /* Maximale Breite mit Padding */
        margin: 0 auto; /* Zentriert den Container */
    }
    .right, .left {
        flex: 1;
        width: auto;
        margin: 2% 0;
        float: none;
        padding: 10px;
    }
    .right {
        order: 2;
    }
    .left {
        order: 1;
    }
}

/* Stile für Mobile-Ansicht */
@media only screen and (max-width: 768px) {
    /* ein Produkt pro Zeile */
    .product {
        flex: 1;
        min-width: 90%; /* Ein Produkt pro Zeile, füllt den verfügbaren Platz */
    }
}

@media print {
    /* Verstecke Elemente, die nicht gedruckt werden sollen */
    .header, .footer, .non-printable, button, #non-printable {
        display: none;
    }

    /* Optimiere den Hauptinhalt für den Druck */
    .content {
        width: 100%;
        font-size: 12pt;
    }

    /* Weitere Anpassungen für den Druck */
    /* ... */
}